[Unit]
Description=Gunicorn for Galaxy Media Site
Requires=webapp.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User = ubuntu
Group = www-data
RuntimeDirectory=gunicorn
WorkingDirectory={{ web_root }}
Environment="PATH={{ venv_root }}/.venv/bin:$PATH"
ExecStart={{ venv_root }}/bin/gunicorn --pid /run/gunicorn/pid   \
          --bind unix:/run/webapp.sock       \
          -c {{ web_root }}/gunicorn.py webapp.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
