# python==3.12
django>=4.2.7,<5.0
django-timezone-field==4.*
django-crispy-forms==1.*
django-recaptcha==4.*
bioblend==1.*
pandas==2.*
pyyaml==6.*
pydantic==2.*
psycopg2-binary>=2.9.9,<3.0
gunicorn==20.*
markdown2==2.*
python-dotenv==0.*
beautifulsoup4
django-cleanup
django-debug-toolbar
django_light
locust
lxml
Pillow
requests==2.*
requests_mock==1.*
sentry-sdk==2.*
