<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Galaxy Australia Survey</title>
</head>
<body>
  <p>Dear {{ recipient.username }},</p>

  <p>
    Galaxy Australia seeks to continually improve and deliver value to researchers across Australia. Your feedback is crucial in this pursuit. If you have a spare couple of minutes, we would appreciate your time in the completion of a short 2 minute survey. 
  </p>

  <p>
    Survey link:
    <a href="https://www.surveymonkey.com/r/GA-NPS-2023">https://www.surveymonkey.com/r/GA-NPS-2023</a>
  </p>

  <p>
    Responses are anonymous and the closing date for responses is 20th November 2023.
    <br>
    If you have any queries regarding this email, please don't hesitate to contact us at 
    <a href="mailto:help@genome.edu.au ">help@genome.edu.au</a>.
  </p>

  <p>
    Many thanks in advance for your assistance.
  </p>

  <p>
    Galaxy Australia Administrators
  </p>

  <br><br>

  <p>
    <small>
      You received this email because you registered an account with this email
      address on
      <a href="https://usegalaxy.org.au">Galaxy Australia</a>.
      If you no longer wish to receive marketing communications from Galaxy
      Australia, please
      <a href="{{ unsubscribe_href }}">unsubscribe</a>.
    </small>
  </p>

  <p>
    <small>
      If the above link does not work, please copy and paste the following link
      into your browser:
      {{ unsubscribe_href }}
    </small>
  </p>
</body>
</html>
