{% extends 'home/header.html' %}

{% load static %}
{% load markdown %}


{% block head %}
<link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}


{% block content %}

<main>
  <div class="container">
    <h1>Galaxy Australia events</h1>

    <hr>

    <div class="row">
      <div class="col">
        <h3> {{ event.title }} </h3>

        {% if event.organiser_name %}
        <p>
          Organised by {{ event.organiser_name }}
          {% if event.organiser_email %}
          <br>
          <small>
            Contact: <a href="mailto:{{ event.organiser_email }}">{{ event.organiser_email }}</a>
          </small>
          {% endif %}
        </p>
        {% endif %}

        <p>
          <a href="{{ event.ical_url }}">
            <span class="material-icons">event</span>
            Add to calendar
          </a>
        </p>

        {% if event.date_start %}
        <br>
        <table class="datetime text-center">
          <thead>
            {% if event.time_start and event.date_start != event.date_end %}
              <th>Start</th>
              <th>End</th>
            {% else %}
              <th>Date</th>

              {% if event.time_start %}
              <th>Time</th>
              {% endif %}
            {% endif %}

            {% if event.timezone %}
            <th>Timezone</th>
            {% endif %}
          </thead>
          <tbody>
            <tr>
              {% if event.time_start and event.date_end and event.date_start != event.date_end %}
              <!-- Render date and time together -->
              <td>
                {{ event.date_start|date:"d/m/y" }}
                {% if event.time_start %}
                {{ event.time_start|time:"H:i" }}
                {% endif %}
              </td>
              <td>
                {{ event.date_end|date:"d/m/y" }}
                {% if event.time_end %}
                {{ event.time_end|time:"H:i" }}
                {% endif %}
              </td>
              {% else %}
              <!-- Render date and time separately -->
              <td>
                {{ event.date_start|date:"d-m-y" }}
              </td>

                {% if event.time_start %}
                <td>
                  {{ event.time_start|time:"H:i" }}
                  {% if event.time_end %}
                  - {{ event.time_end|time:"H:i" }}
                  {% endif %}
                </td>
                {% endif %}
              {% endif %}

              {% if event.timezone %}
              <td>{{ event.timezone }}</td>
              {% endif %}
            </tr>
          </tbody>
        </table>
        {% endif %}
      </div>

      <div class="col-sm-auto">
        {% if user.is_staff %}
        <p class="text-end">
          <a
            href="/admin/events/event/{{ event.id }}/change"
            target="_blank"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Edit post"
          >
            <span class="material-icons">edit</span>
          </a>
        </p>
        {% endif %}

        <p class="text-end text-muted">
          <span class="date">
            {{ event.datetime_created|date:'d-m-Y'}}
          </span>
        </p>

        {% for tag in event.tags.all %}
        <p class="text-end">
          <span class="tag" style="color: {{ tag.font_color }}; background-color: {{ tag.color }};">
            {{ tag.name }}
          </span>
        </p>
        {% endfor %}

        {% if event.location %}
        <table class="location">
          <thead><th colspan=2>Location</th></thead>
          <tbody>
            {% for item in event.location.fields %}
            <tr>
              <td> {{ item.value }} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
    </div>

    <br><br>

    <div class="container markdown" id="event-body">
      {{ event.body|markdown|safe }}
    </div>

    <div class="container text-center">
      {% for supporter in event.supporters.all %}
      <a class="supporter" href="{{ supporter.url }}" target="_blank">
        <img src="{{ supporter.logo_uri }}" alt="{{ supporter.name }}">
      </a>
      {% endfor %}
    </div>

    <hr>

  </div>
</main>

{% endblock %}


{% block script %}
{% endblock %}


{% block onload %}
{% endblock %}
