{% extends 'home/header.html' %}

{% load static %}
{% load markdown %}


{% block head %}
<link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}


{% block content %}

<main>
  <div class="container">
    <h1>Galaxy Australia events</h1>

    <hr>

    <div class="row">
      <div class="col">
        <h3> {{ event.title }} </h3>
      </div>

      <div class="col-sm-auto">
        <p class="text-end text-muted">
          <span class="date">
            {{ event.datetime_created|date:'d-m-Y'}}
          </span>
        </p>

        {% for tag in event.tags.all %}
        <p class="text-end">
          <span class="tag" style="color: {{ tag.font_color }}; background-color: {{ tag.color }};">
            {{ tag.name }}
          </span>
        </p>
        {% endfor %}

        {% if user.is_staff %}
        <p class="text-end">
          <a
            href="/admin/events/event/{{ event.id }}/change"
            target="_blank"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Edit post"
          >
            <span class="material-icons">edit</span>
          </a>
        </p>
        {% endif %}
      </div>
    </div>

    <br><br>

    <div class="container markdown" id="event-body">
      {{ event.body|markdown|safe }}
    </div>

    <div class="container text-center">
      {% for supporter in event.supporters.all %}
      <a class="supporter" href="{{ supporter.url }}" target="_blank">
        <img src="{{ supporter.logo_uri }}" alt="{{ supporter.name }}">
      </a>
      {% endfor %}
    </div>

    <hr>

  </div>
</main>

{% endblock %}


{% block script %}
{% endblock %}


{% block onload %}
{% endblock %}
