{% extends 'home/header.html' %}

{% load static %}
{% load markdown %}


{% block head %}
<link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}


{% block content %}

<main class="wide">
  <div class="container">
    <h1>Galaxy Australia events</h1>

    <section class="container-fluid">

      {% if user.is_staff %}
      <a class="btn btn-primary mb-3" href="/admin/events/event/add" target="_blank"> Create post </a>
      {% endif %}

      <div class="">
        <table class="table table-striped">
          <thead>
            <tr>
              <th colspan=2>Description</th>
              <th>Organiser</th>
              <th>
                Start
                <span class="text-muted text-nowrap">(dd-mm-yyyy)</span>
              </th>
              <th>
                End
                <span class="text-muted text-nowrap">(dd-mm-yyyy)</span>
              </th>

              {% if user.is_staff %}
              <th></th>
              {% endif %}

            </tr>
          </thead>

          <tbody>
            {% for item in events %}
            <tr>
              <td>
                <a href="{{ item.url }}" {% if item.external %} target="_blank" {% endif %}>
                  <h4> {{ item.title|markdown|safe }} </h4>
                </a>
                <div class="blurb markdown">
                  {{ item.blurb|markdown|safe }}
                </div>
              </td>

              <td>
                {% for icon in item.material_icons %}
                <span class="material-icons">{{ icon }}</span>
                {% endfor %}
              </td>

              <td> {{ item.organiser_name }} </td>
              <td> {{ item.date_start|date:"d-m-Y" }} </td>
              <td> {{ item.date_end|date:"d-m-Y" }} </td>

              {% if user.is_staff %}
              <td>
                <a
                  href="/admin/events/event/{{ item.id }}/change"
                  target="_blank"
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  title="Edit post"
                >
                  <span class="material-icons">edit</span>
                </a>
              </td>
              {% endif %}

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
  </div>
</main>

{% endblock %}


{% block script %}
{% endblock %}


{% block onload %}
{% endblock %}
