{% extends 'home/header.html' %}  {% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/css/docs.css' %}">
{% endblock %}

{% block content %}

<main>
  <div class="row justify-content-between">
    <div class="col-auto">
      <h1> Connecting to CloudStor </h1>
    </div>
    <div class="col text-end p-3">
      <a href="https://www.aarnet.edu.au/cloudstor">
        <img src="{% static 'home/img/cloudstor-logo.png' %}" alt="CloudStor logo" width="128px">
      </a>
    </div>
  </div>

  <p class="alert alert-warning">
    <span class="material-icons">warning</span>
    AARNet have announced that
    <a href="https://support.aarnet.edu.au/hc/en-us/articles/5697089309711" target="_blank">
      CloudStor will be decommissioned
    </a>
    by the end of 2023.
    For long-term storage of your Galaxy data, we recommend archiving your
    histories to storage solutions provisioned by your institution.
    Find information on managing your Galaxy histories on the
    <a
      target="_blank"
      href="https://training.galaxyproject.org/training-material/topics/galaxy-interface/tutorials/download-delete-data/tutorial.html"
    >Galaxy Training Network</a>.
    If you have any concerns about this transition, please
    <a href="/request/support">make a support request</a>.
  </p>

  <div class="container my-3">
    <p>
      The import/export tools allow you to transfer one or more files to a registered
      <a href="https://www.aarnet.edu.au/network-and-services/cloud-services/cloudstor/" target="_blank">AARNet CloudStor</a>
      account. Transfers to/from CloudStor are encrypted over HTTPS.
    </p>

    <p>
      Before you can use this service, you must perform a one-off task where you
      must provide Galaxy with credentials to access your CloudStor account on
      your behalf. You must first setup an app specific password in CloudStor
      for Galaxy to use. You must then let Galaxy know what that app password
      is.
    </p>

    <h3 class="mt-5">Setting up an app password in CloudStor</h3>

    <p>
      <b>To create an app password:</b>
      <br>
      <a href="https://cloudstor.aarnet.edu.au" target="_blank">Log into your CloudStor account</a>
      and then click on
      <span class="action">Settings</span>
      in the top right corner of the interface. Once in Settings you will see a
      menu on the left, click
      <span class="action">Security</span>
      and you will see a section called app passwords.
      <br><br>
      App passwords simply require an "app name" this can be anything that helps
      you later identify the password in the future, for example "Galaxy". Fill
      in an "app name" and click
      <span class="action">Create new app password</span>.
      You will then be presented with a username and password/token. Your
      username will be your email address and the password/token with be a
      randomly generated token. Please write this token down somewhere or copy
      it to your computer clipboard. When you click
      <span class="action">Done</span>
      you will never be able to see this password/token again.
      <br><br>
      Once the app password is created you will see it in the list of app
      passwords. You can also see when that password was last used. You also
      have the option to unlink your accounts by deleting the app password.
      <br><br>
      <a href="https://support.aarnet.edu.au/hc/en-us/articles/236034707-Set-or-change-your-password" target="_blank">
        Click here
      </a>
      for the most up to date instructions from AARNet.
    </p>

    <h3 class="mt-5">Letting Galaxy know your app password</h3>

    <p>
      In Galaxy, go to your profile settings under the
      <span class="action">User menu</span>
      &gt;
      <span class="action">Preferences</span>
      &gt;
      <span class="action">Manage Information</span>,
      where you will need to set OwnCloud/CloudStor
      Credentials.
    </p>

    <img src="{% static 'home/img/galaxy-cloudstor-profile.png' %}" alt="Galaxy CloudStor screenshot">

    <div class="my-5">
      <p>
        <b>Server URL:</b> https://cloudstor.aarnet.edu.au/plus/remote.php/webdav
      </p>
      <p>
        <b>Username:</b> The email your account is registered with
      </p>
      <p>
        <b>Password:</b> Copied from the app password set up at CloudStor
      </p>
    </div>

    <p>
      If the details above are configured properly, the next time you access the
      Cloudstor import/export functions in Galaxy (below) your folder/files will
      be visible.
    </p>

    <p class="alert alert-warning">
      <span class="material-icons">warning</span>
      WARNING: Your CloudStor credentials will be stored on this server. While reasonable
      efforts have been made to store these credentials safely, you must be
      aware and accept the risks of storing these credentials. In the event that
      the server is compromised, it may be possible for an attacker to gain
      access to your CloudStor account.
    </p>

    <h3 class="mt-5">Data import from CloudStor</h3>

    <ol>
      <li>
        File or files to be imported into your Galaxy history from Cloudstor are
        accessed from the
        <span class="action">Upload Data</span>
        &gt;
        <span class="action">Choose Remote Files</span>
        tool:
        <br>
        <img src="{% static 'home/img/cloudstor-choose-remote-files.png' %}" alt="Choose remote files screenshot" style="width: 800px; max-width: 100%;">
      </li>

      <li>
        Single or multiple files can be selected for Import. Folders selected
        will import all files as individual files, not a Collection, into your
        History
      </li>
    </ol>

    <h3 class="mt-5">Data export to CloudStor</h3>

    <ol>
      <li>
        To export data to Cloudstor, use the
        <a href="https://usegalaxy.org.au/root?tool_id=export_remote">Export datasets to files source tool</a>
      </li>

      <li>
        If your Cloudstor account is configured inside Galaxy the
        <span class="action">Directory URI</span>
        option will show your Cloudstor folder:
        <br>
        <img src="{% static 'home/img/cloudstor-directory-option.png' %}" alt="CloudStor directory option screenshot">
      </li>
    </ol>

    <p class="alert alert-warning">
      <span class="material-icons">warning</span>
      WARNING: the export tool WILL overwrite existing CloudStor files, so
      choose your target folder carefully!
    </p>
  </div>
</main>

{% endblock %}
