{% extends 'home/header.html' %}  {% load static %}


{% block content %}

<main>
  <h1> Galaxy Australia documentation </h1>

  <br>

  <p class="lead">
    This page contains a list of guides specific to features on Galaxy Australia.
    <br>
    General Galaxy training material can be found
    <a href="https://training.galaxyproject.org/training-material/">here</a>.
  </p>

  <br>

  <section class="container my-5">
    <h3>Identity</h3>
    <hr>
    <ul class="lead">
      <li>
        <a href="/institutions">Australian research institutions</a>
      </li>

      <li>
        <a href="/aaf">Australian access federation institutions</a>
      </li>
    </ul>
  </section>

  <section class="container my-5">
    <h3>Remote storage</h3>
    <hr>
    <ul class="lead">
      <li>
        <a href="/owncloud.html">File transfer with OwnCloud</a>
      </li>
    </ul>
  </section>
</main>

{% endblock %}
