{% extends 'home/header.html' %}  {% load static %}


{% block content %}

<!--

  Create HTML templates in this folder, using this file as an example template.
  You can then link to this page from other pages like "/pages/example.html" or
  (externally) "https://mysite.com/pages/example.html"

 -->

<main>
  <h1> My page title </h1>

  <br>

  <div class="container">
    <p class="lead">
      Some leading text.
    </p>

    <br/>

    <p>
      Some page content.
    </p>
  </div>
</main>

{% endblock %}
