{% extends 'home/header.html' %}

{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'home/css/about.css' %}">

<style>
  #emailValidInputWrapper {
    position: relative;
  }
  #emailValidLoading {
    display: none;
    position: absolute;
    top: -0.5rem;
    right: 0;
    width: 3.5rem;
  }
</style>
{% endblock %}

{% block content %}

<main>
  <h3 id="list-of-institutions">Australian Research Institutions</h3>

  <p>
    Galaxy Australia provides advanced features and extended quotas to publicly funded Australian researchers, as described in our
    <a href="#feature-catalogue">Feature Catalogue</a>.
    Access to these features and quotas is available to account holders registered using an email address from one of the Australian Research Institutions recognised as listed in the table below.
  </p>

  <p>
    This table is based on the NHMRC list of
    <a href="https://www.nhmrc.gov.au/funding/manage-your-funding/nhmrcs-administering-institutions">Approved Administering Institutions</a>.
    We acknowledge that this list may not be exhaustive. Please
    <a href="request/support">contact us</a>
    to request the addition of your research institution to this list.
  </p>

  <div class="border rounded textbox mb-5 p-3">
    <label class="text-bf mb-2" for="emailValidInput">Verify if my email is on the Australian Research Institutions list:</label>
    <div id="emailValidInputWrapper">
      <input id="emailValidInput" class="form-control" type="text" placeholder="myemail@example.com">
      <img id="emailValidLoading" src="{% static 'home/img/spinner.svg' %}" alt="Loading animation">
    </div>
    <small id="emailValidResult"></small>
  </div>

  {% include 'home/snippets/about/list-of-institutions.html' %}
</main>

{% endblock %}

{% block script %}
<script type="text/javascript">
  $(document).ready( function() {
    const DEBOUNCE_MS = 500;
    const input = $('#emailValidInput');

    function fetchValidateEmail() {

      console.log('fetchValidateEmail()');

      const loadingIcon = $('#emailValidLoading');
      loadingIcon.show();
      const email = $(this).val();
      if (email.length > 0) {
        $.ajax({
          url: '/institution/validate',
          type: 'GET',
          data: {
            email: email
          },
          success: function(data) {
            if (data.valid) {
              input.addClass('is-valid');
              input.removeClass('is-invalid');
              $('#emailValidResult').html('Great news! Your email is on the list.');
              $('#emailValidResult').removeClass('text-danger');
              $('#emailValidResult').addClass('text-success');
            } else {
              input.addClass('is-invalid');
              input.removeClass('is-valid');
              $('#emailValidResult').html(
                'Sorry, your institution is not on our list.'
                + ' <a href="/request/support">Contact us</a> '
                + 'to discuss the addition of your institution to this list.');
              $('#emailValidResult').removeClass('text-success');
              $('#emailValidResult').addClass('text-danger');
            }
          }
        });
      } else {
        $('#emailValidResult').html('');
      }
      loadingIcon.hide();
    }

    $('input').on('input', _.debounce(
      fetchValidateEmail,
      DEBOUNCE_MS,
      { 'leading': true, 'trailing': false },
    ));
  });
</script>
{% endblock %}
