{% extends 'home/header.html' %}

{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'home/css/about.css' %}">
{% endblock %}

{% block content %}

<main>
  <h3 id="list-of-institutions">Australian Research Institutions</h3>

  <p>
    Galaxy Australia provides advanced features and extended quotas to publicly funded Australian researchers, as described in our
    <a href="#feature-catalogue">Feature Catalogue</a>.
    Access to these features and quotas is available to account holders registered using an email address from one of the Australian Research Institutions recognised as listed in the table below.
  </p>

  <p>
    This table is based on the NHMRC list of
    <a href="https://www.nhmrc.gov.au/funding/manage-your-funding/nhmrcs-administering-institutions">Approved Administering Institutions</a>.
    We acknowledge that this list may not be exhaustive. Please
    <a href="request/support/">contact us</a>
    to request the addition of your research institution to this list.
  </p>

  {% include 'home/snippets/about/list-of-institutions.html' %}
</main>

{% endblock %}
