{% extends 'home/header.html' %}  {% load static %}


{% block content %}

<!--

  Create HTML templates in this folder, using this file as an example template.
  You can then link to this page from other pages like "/pages/example.html" or
  (externally) "https://mysite.com/pages/example.html"

 -->

<main>

  <div class="container py-5">
    <img
      src="https://images.squarespace-cdn.com/content/v1/5d3a4213cf4f5b00014ea1db/2424d533-c29d-47f3-abc1-b916ca9d13b3/SG.jpeg?format=300w"
      alt="image"
      style="float: right; padding: 2rem;"
    >

    <p class="lead">
      Dear Galaxy Australia Users,
    </p>

    <p>
      It is with a heavy heart that I want to share the loss of one of team members, Simon Gladman. Simon was the key architect and lead engineering of Galaxy Australia. Simon was a very active and respected member of the global Galaxy community. Simon died of a suspected heart attack on Saturday 26th November whilst out enjoying time with his partner and children.
    </p>

    <p>
      Galaxy Australia is in its 5th year of operation and Simon was there from inception. His leadership to industrialise the service leaves a legacy to be proud of. Recently it was my honour to share the stage with Simon at the Galaxy Community Conference 2022 in Minneapolis, USA and announce that Brisbane is to host the 2023 conference. Bringing GCC to Australia was to be a high point of Simon’s Galaxy contributions and we’ll seek to honour that in the planning for GCC2023.
    </p>

    <p>
      Simon was a passionate believer in open science and the opportunities Galaxy offered its users. This belief showed in his interactions with the Galaxy Australia team and with its users. Simon helped to build a national team effortlessly, he welcomed new members in, mentored and inspired them in his approach to enabling good science. I too benefited from this kind and open approach to working collaboratively. Our meetings often started work but finished on one of our (many) shared interests, be it Magic the Gathering, fantasy books or board games, we were never short on something to bond over. These passions he shared with all the people lucky enough to spend time with him.
    </p>

    <p>
      Simon will be missed greatly by myself and by the Galaxy Australia team. He impacted on all our lives and genuinely helped make research in Australia an easy task for our many skilled scientists to undertake.
    </p>

    <p>
      Thank you Simon for all your tireless efforts to deliver a national Galaxy service to Australia.
    </p>

    <p>
      For further words, please see the announcement on the
      <a
        href="https://www.biocommons.org.au/news/simon-gladman"
        target="_blank"
      >Australian BioCommons page</a>.
    </p>

    <p>
      If you have questions about the service, or remember an interaction with Simon you would like to share please email
      <a href="mailto:help@genome.edu.au">help@genome.edu.au</a>.

    </p>

    <p>
      Dr Gareth Price,
      Product Owner - Galaxy Australia
    </p>
  </div>
</main>

{% endblock %}
