{% extends 'home/header.html' %}

{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'home/css/about.css' %}">
{% endblock %}


{% block content %}

<main>
  <div class="container">

    <h1> About Galaxy Australia </h1>

    <p class="lead">
      Galaxy Australia provides researchers with free access to a high-performance computing network through a simple web interface.
    </p>

    <p>
      Galaxy Australia maintains tools, workflows and reference datasets as requested by the Australian research community, making the platform the ideal place for Australian researchers to perform their analyses. If we do not currently support your specific application or species then we will endeavour to make it available.
      <a href="/request">Please just ask!</a>
    </p>

    <p>
      Galaxy Australia is part of the usegalaxy.* initiative. Visit the
      <a href="https://galaxyproject.org/usegalaxy/" target="_blank">Galaxy Project Community Hub</a>
      for more information.
    </p>

    <div class="my-5">
      <p class="lead">On this page</p>
      <ol>
        <li>
          <a href="#about">Citing Galaxy Australia</a>
        </li>
        <li>
          <a href="#operational-partners">Our funding and partners</a>
        </li>
        <li>
          <a href="#feature-catalogue">Feature catalogue</a>
        </li>
        <li>
          <a href="#terms-of-service">Terms of service</a>
        </li>
        <li>
          <a href="#data-privacy">Data privacy</a>
        </li>
        <li>
          <a href="#acceptable-use">Acceptable use</a>
        </li>
        <li>
          <a href="#service-levels">Service levels</a>
        </li>
      </ol>
    </div>

    <section id="about">
      {% include 'home/snippets/about/about.html' %}
    </section>

    <section id="feature-catalogue">
      {% include 'home/snippets/about/feature-catalogue.html' %}
    </section>

    <section id="terms-of-service">
      {% include 'home/snippets/about/terms-of-service.html' %}
    </section>

    <section id="data-privacy">
      {% include 'home/snippets/about/data-privacy.html' %}
    </section>

    <section id="acceptable-use">
      {% include 'home/snippets/about/acceptable-use.html' %}
    </section>

    <section id="service-levels">
      {% include 'home/snippets/about/service-levels.html' %}
    </section>
  </div>
</main>
{% endblock %}


{% block script %}
{% endblock %}


{% block onload %}
{% endblock %}
