{% extends 'home/header.html' %}

{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'home/css/about.css' %}">
{% endblock %}


{% block content %}

<main>
  <div class="container">
    <h1> Acknowledging Galaxy Australia </h1>

    <p class="lead">
      When you use Galaxy Australia and supported licenced tools (such as FGENESH++ or Cell Ranger) in support of your publication or project, please acknowledge its use with the following acknowledgement statement.
    </p>

    <h3>Galaxy Australia</h3>
    <div class="m-5 mt-3">
      <em>
        "This work is supported by Galaxy Australia, a service provided by Australian BioCommons and its partners. The service receives NCRIS funding through Bioplatforms Australia, as well as The University of Melbourne and Queensland Government RICF funding."
      </em>
    </div>

    <h3>Australian FGENESH++ Service on Galaxy Australia</h3>
    <div class="m-5 mt-3">
      <em>
        “Access to the Australian FGENESH++ Service is through the Galaxy Australia service, both provided by Australian BioCommons and its partners. These services receive NCRIS funding through Bioplatforms Australia, as well as the University of Melbourne and Queensland Government RICF funding."
      </em>
    </div>

    <h3>Please also cite the Galaxy publication:</h3>
    <div class="m-5 mt-3">
      The Galaxy Community, The Galaxy platform for accessible, reproducible, and collaborative data analyses: 2024 update, <i>Nucleic Acids Research</i>, Volume 52, Issue W1, 5 July 2024, Pages W83-W94,
      <a href="https://doi.org/10.1093/nar/gkae410" target="_blank">https://doi.org/10.1093/nar/gkae410</a>
    </div>

    <p>You can find references for individual tools by invoking the <em>Export Tool References</em> feature in your Galaxy History.</p>
  </div>
</main>
{% endblock %}


{% block script %}
{% endblock %}


{% block onload %}
{% endblock %}
