<!DOCTYPE html>
<html lang="en" dir="ltr">

{% load static %}

  <head>
    {% include 'home/snippets/head.html' %}
    <title> {% if title %}{{ title }}{% else %}Galaxy Australia{% endif %} </title>
    {% include 'home/snippets/imports.html' %}

    {% block head %}
    {% endblock %}

    <style>
      .material-icons {
        opacity: 0;
        max-width: 2rem;
        overflow: hidden;
        transition-duration: 0.25s;
      }
    </style>

  </head>

  <body>

    <nav class="navbar fixed-top navbar-expand-lg embedded">
      <a class="navbar-brand" href="/">
        Galaxy <span class="australia">Australia</span>
        <!-- <img src="{% static 'home/img/ga-logo.png' %}" alt="Galaxy logo"> -->
      </a>

      <div class="collapse navbar-collapse mr-auto" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a {% if request.path == '/' %}
            class="nav-link active"
            {% else %}
            class="nav-link" href="/"
            {% endif %}>
            Home
          </a>
          <a {% if '/news/' in request.path %}
            class="nav-link active" href="/news"
            {% else %}
            class="nav-link" href="/news"
            {% endif %}>
            News
          </a>
          <a {% if '/events/' in request.path %}
            class="nav-link active" href="/events"
            {% else %}
            class="nav-link" href="/events"
            {% endif %}>
            Events
          </a>
          <a {% if '/people/' in request.path %}
            class="nav-link active"
            {% else %}
            class="nav-link" href="/people"
            {% endif %}>
            People
          </a>
          <a {% if '/about/' in request.path %}
            class="nav-link active"
            {% else %}
            class="nav-link" href="/about"
            {% endif %}>
            About
          </a>
          <a {% if '/support/' in request.path %}
              class="nav-link active"
              {% else %}
              class="nav-link" href="/support"
              {% endif %}
          >Support</a>
          {% if user.is_staff %}
          <a class="nav-link" href="/admin">Admin</a>
          {% endif %}
        </div>
      </div>

      {% if not user.is_authenticated %}
      <div class="navbar-nav login">
        <a
          href="/admin"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          title="Admin login"
          id="admin-login"
        >Login</a>
      </div>
      {% else %}
      <div class="navbar-nav">
        <a href="/admin/logout">Log out</a>
      </div>
        {% endif %}
    </nav>


    {% block content %}
    {% endblock %}

    {% include 'home/snippets/footer.html' %}

    {% block script %}
    {% endblock %}

    <script type="text/javascript">

      // Load material icons and display when page has loaded
      document.fonts.onloadingdone = () => {
        $('.material-icons').css({
          'opacity': 1,
          'max-width': 'unset',
          'overflow': 'visible'
        });
      }

      // Determine whether page is being viewed in iframe
      function inIframe () {
        try {
            return window.self !== window.top;
        } catch (e) {
            return true;
        }
      }

      $(document).ready( () => {
        // Switch to centered nav if embedded in iframe
        inIframe() || $('nav').removeClass("embedded");

        // Enable bootstrap tooltips
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        {% block onload %}
        {% endblock %}
      });

    </script>
  </body>
</html>
