{% extends landing|yesno:'home/header_landing.html,home/header.html' %}

{% load static %}
{% load markdown %}


{% block head %}
<link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% if landing %}
<link rel="stylesheet" href="{% static 'home/css/landing.css' %}">
{% endif %}
{% endblock %}


{% block content %}

<main>
  <section class="container-flex text-center my-3">
    <a {{ landing|yesno:",href=https://usegalaxy.org.au" }}>
      <img id="header-logo" src="{% static 'home/img/ga-logo.png' %}" alt="Galaxy Australia Logo">
    </a>
  </section>

  <section class="container-fluid my-5" id="tagline">

    {% for notice in notices %}

    {% if notice.notice_class == 'none' %}
    <div class="container my-5">
    {% else %}
    <div class="alert alert-{{ notice.notice_class }}">
    {% endif %}

      {% if not notice.is_published %}
      {% include 'home/snippets/unpublished-bubble.html' %}
      {% endif %}

      {% if notice.material_icon %}
      <span class="material-icons">{{ notice.material_icon }}</span>
      {% endif %}

      {% if notice.display_title %}
      <strong> {{ notice.title }} </strong>
      <br>
      {% endif %}

      {{ notice.body|markdown|safe }}
    </div>
    {% endfor %}

    <p>
      Galaxy Australia is an
      <b> open, web-based </b>
      platform for accessible, reproducible
      and transparent computational research. Galaxy supports thousands of
      documented and maintained tools that are free to use. We facilitate on-demand
      training capacities and provision
      <b>600GB</b> for Australian institutional (and 100GB for other) users.
    </p>
  </section>

  <section class="row justify-content-between text-center" id="header-cards">
    <div class="tile">
      <div class="card-body">
        <h1 class="card-title"><span class="material-icons">book</span></h1>
        <p>
          200+
          <br>
          Galaxy tutorials
          <br>
          Available now
        </p>
        <a class="ga-btn" href="https://training.galaxyproject.org/" target="_blank">
          Start learning
        </a>
      </div>
    </div>

    <div class="tile">
      <div class="card-body">
        <h1 class="card-title"><span class="material-icons">construction</span></h1>
        <p>
          7000+
          <br>
          Tools &amp; Datasets
          <br>
          Ready to install
        </p>
        <a class="ga-btn" href="/support">
          Request now
        </a>
      </div>
    </div>

    <div class="tile">
      <div class="card-body">
        <h1 class="card-title"><span class="material-icons">save</span></h1>
        <p class="m-0">
          Additional storage
          <br>
          Available on request
        </p>
        <a class="ga-btn" href="/support">
          Request now
        </a>
      </div>
    </div>
  </section>

  <section id="stats-panel">
    <div>
      <iframe width="100%" height="200px" src="https://stats.usegalaxy.org.au/d-solo/-D4mtTAik/for_embedding?orgId=1&refresh=10s&panelId=2" frameborder="0" onload=notifyLoaded(1);></iframe>
    </div>

    <div class="row justify-content-between">
      <img class="loading" src="{% static 'home/img/spinner.svg' %}" alt="Loading stats">

      <div class="col">
        <iframe src="https://stats.usegalaxy.org.au/d-solo/-D4mtTAik/for_embedding?orgId=1&refresh=1d&panelId=19" width="95%" height="110px" frameborder="0" onload=notifyLoaded(2);></iframe>
      </div>

      <div class="col">
        <iframe src="https://stats.usegalaxy.org.au/d-solo/-D4mtTAik/for_embedding?orgId=1&refresh=1d&panelId=21" width="95%" height="110px" frameborder="0" onload=notifyLoaded(3);></iframe>
      </div>

      <div class="col">
        <iframe src="https://stats.usegalaxy.org.au/d-solo/-D4mtTAik/for_embedding?orgId=1&refresh=1d&panelId=23" width="95%" height="110px" frameborder="0" onload=notifyLoaded(4);></iframe>
      </div>

      <div class="col">
        <iframe src="https://stats.usegalaxy.org.au/d-solo/-D4mtTAik/for_embedding?orgId=1&refresh=1d&panelId=25" width="95%" height="110px" frameborder="0" onload=notifyLoaded(5);></iframe>
      </div>
    </div>
  </section>

  <section class="row no-gutter" id="news-events">
    <div class="col-sm-6 px-3" id="news">
      <div class="row justify-content-between">
        <div class="col">
          <h4>News</h4>
        </div>
        <div class="col-md-auto">
          <a class="ga-btn sm" href="/news">See all</a>
        </div>
      </div>
      {% for item in news_items %}
      <article
        class="row"
        onclick="window.open('{{ item.url }}'{% if not item.external %}, '_self'{% endif %});"
      >
        {% if not item.is_published %}
        {% include 'home/snippets/unpublished-bubble.html' %}
        {% endif %}
        <div class="col">
          <p> {{ item.datetime_created|date:"Y-m-d" }} </p>
          <p class="markdown"><b> {{ item.title|markdown|safe }} </b></p>
        </div>

        <div class="col-sm-auto text-end">
          <p>
            {% for icon in item.material_icons %}
            <span class="material-icons">{{ icon }}</span>
            {% endfor %}
          </p>
        </div>
      </article>
      {% endfor %}
    </div>

    <div class="col-sm-6 px-3">
      <div class="row justify-content-between">
        <div class="col">
          <h4>Events and workshops</h4>
        </div>
        <div class="col-md-auto">
          <a class="ga-btn sm" href="/events">See all</a>
        </div>
      </div>
      {% for item in events %}
      <article
        class="row"
        onclick="window.open('{{ item.url }}'{% if not item.external %}, '_self'{% endif %});"
      >
        {% if not item.is_published %}
        {% include 'home/snippets/unpublished-bubble.html' %}
        {% endif %}
        <div class="col">
          <p> {{ item.datetime_created|date:"Y-m-d" }} </p>
          <p class="markdown"><b> {{ item.title|markdown|safe }} </b></p>
        </div>

        <div class="col-sm-auto text-end">
          <p>
            {% for icon in item.material_icons %}
            <span class="material-icons">{{ icon }}</span>
            {% endfor %}
          </p>
        </div>
      </article>
      {% endfor %}
    </div>
  </section>

  <section id="tiias">
    <h4 class="header"> Training Infrastructure as a Service (TIaaS) </h4>

    <div class="row">
      <div class="col">
        <p>
          Are you looking to run bioinformatics training using the Galaxy
          service? We provide free infrastructure for hosting Galaxy training
          events, so your participants experience the fastest possible job times.
          Don't let a job queue ruin your workshop!
        </p>
      </div>

      <div class="col">
        <p class="text-center">
          <a class="ga-btn" href="https://usegalaxy.org.au/tiaas" target="_blank">
            Learn more
          </a>
          <br>
          <a class="ga-btn" href="https://usegalaxy.org.au/tiaas/new" target="_blank">
            Enquire now
          </a>
        </p>
      </div>
    </div>
  </section>

  <section id="data-policy">
    <h4 class="header"> Our data policy </h4>

    <div class="row">
      <div class="col">
        <p>
          Your data limits on Galaxy Australia depend on how you register with
          the service. We provide greater privileges to verified
          <a href="/about#list-of-institutions">Australian Researchers</a>.
        </p>
      </div>

      <div class="col">
        <p class="text-center">
          <a class="ga-btn" href="/about#feature-catalogue">
            Your data limits
          </a>
          <br>
          <a class="ga-btn" href="/about#data-privacy">
            Data privacy policy
          </a>
        </p>
      </div>
    </div>
  </section>

</main>

{% endblock %}


{% block script %}
<script type="text/javascript">

  const IFRAME_COUNT = 5;
  let loaded = [];

  const notifyLoaded = (id) => {
    loaded.push(id);
    if (loaded.length === IFRAME_COUNT) {
      $('#stats-panel img.loading').hide();
      $('#stats-panel iframe').css('opacity', '1');
    }
  }

</script>
{% endblock %}


{% block onload %}
{% endblock %}
