{% extends 'home/header.html' %}

{% load static %}
{% load markdown %}


{% block head %}
<link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% if landing %}
<!-- Now obsolete - all rendering done by Javascript inIframe() -->
<link rel="stylesheet" href="{% static 'home/css/landing.css' %}">
{% endif %}
{% endblock %}


{% block content %}

<main>
  <section class="container-flex text-center my-3">
    <a href="https://usegalaxy.org.au">
      <img id="header-logo" src="{% static 'home/img/ga-logo.png' %}" alt="Galaxy Australia Logo">
    </a>
  </section>

  <section class="container-fluid" id="tagline">

    {% include 'home/snippets/static-notices.html' %}
    {% include 'home/snippets/cover-image.html' %}

    <p class="my-5">
      Galaxy Australia is an
      <b> open, web-based </b>
      platform for accessible, reproducible
      and transparent computational research. Galaxy supports thousands of
      documented and maintained tools that are free to use. We facilitate on-demand
      training capacities and provision
      <b>600GB</b> for Australian institutional (and 100GB for other) users.
    </p>
  </section>

  {% include 'home/snippets/header-cards.html' %}

  <section id="stats-panel">
    <div>
      <iframe id="iframe-chart" src="https://stats.usegalaxy.org.au/d-solo/-D4mtTAik/for_embedding?orgId=1&refresh=10s&panelId=2" frameborder="0" onload=notifyLoaded(1);></iframe>
    </div>

    <div class="row justify-content-between counters">
      <img class="loading" src="{% static 'home/img/spinner.svg' %}" alt="Loading stats">

      <div class="col">
        <iframe src="https://stats.usegalaxy.org.au/d-solo/-D4mtTAik/for_embedding?orgId=1&refresh=1d&panelId=19" frameborder="0" onload=notifyLoaded(2);></iframe>
      </div>

      <div class="col">
        <iframe src="https://stats.usegalaxy.org.au/d-solo/-D4mtTAik/for_embedding?orgId=1&refresh=1d&panelId=21" frameborder="0" onload=notifyLoaded(3);></iframe>
      </div>

      <div class="col">
        <iframe src="https://stats.usegalaxy.org.au/d-solo/-D4mtTAik/for_embedding?orgId=1&refresh=1d&panelId=23" frameborder="0" onload=notifyLoaded(4);></iframe>
      </div>

      <div class="col">
        <iframe src="https://stats.usegalaxy.org.au/d-solo/-D4mtTAik/for_embedding?orgId=1&refresh=1d&panelId=25" frameborder="0" onload=notifyLoaded(5);></iframe>
      </div>
    </div>
  </section>

  <section class="row no-gutter" id="news-events">
    <!-- <div class="col-md-6 px-3" id="news"> -->
    <div class="col px-3" id="news">
      <div class="row justify-content-between">
        <div class="col">
          <h4>News</h4>
        </div>
        <div class="col-md-auto">
          <a class="ga-btn sm" href="/news">See all</a>
        </div>
      </div>
      {% for item in news_items %}
      <article
        class="row"
        onclick="window.open('{{ item.url }}'{% if not item.external %}, '_self'{% endif %});"
      >
        {% if not item.is_published %}
        {% include 'home/snippets/unpublished-bubble.html' %}
        {% endif %}
        <div class="col">
          <p> {{ item.datetime_created|date:"Y-m-d" }} </p>
          <p class="markdown"><b> {{ item.title|markdown }} </b></p>
        </div>

        <div class="col-sm-auto text-end">
          <p>
            {% for icon in item.material_icons %}
            <span class="material-icons">{{ icon }}</span>
            {% endfor %}
          </p>
        </div>
      </article>
      {% endfor %}
    </div>

    <!-- <div class="col-md-6 px-3">
      <div class="row justify-content-between">
        <div class="col">
          <h4>Events and workshops</h4>
        </div>
        <div class="col-md-auto">
          <a class="ga-btn sm" href="/events">See all</a>
        </div>
      </div>
      {% for item in events %}
      <article
        class="row"
        onclick="window.open('{{ item.url }}'{% if not item.external %}, '_self'{% endif %});"
      >
        {% if not item.is_published %}
        {% include 'home/snippets/unpublished-bubble.html' %}
        {% endif %}
        <div class="col">
          <p> {{ item.datetime_created|date:"Y-m-d" }} </p>
          <p class="markdown"><b> {{ item.title|markdown }} </b></p>
        </div>

        <div class="col-sm-auto text-end">
          <p>
            {% for icon in item.material_icons %}
            <span class="material-icons">{{ icon }}</span>
            {% endfor %}
          </p>
        </div>
      </article>
      {% endfor %}
    </div> -->
  </section>

  {% if tool_updates %}
  <section id="tool-updates">
    <div class="tool-update-row">
      <div class="head">
        <div class="row">
          <div class="col">
            <span class="australia text-nowrap">
              Galaxy {{ GALAXY_SITE_NAME }}
            </span>
            <br>
            Tool updates
          </div>
          <div class="col" style="align-self: center;">
            <span class="material-icons">build</span>
          </div>
        </div>
      </div>
      {% for item in tool_updates %}
      <div class="item" onclick="window.location = '{{ item.url }}';">
        <span>{{ item.datetime_created|date:"Y-m-d"}}</span>
      </div>
      {% endfor %}
    </div>
  </section>
  {% endif %}

  <section id="tiias">
    <h4 class="header"> Training Infrastructure as a Service (TIaaS) </h4>

    <div class="row">
      <div class="col">
        <p>
          Are you looking to run bioinformatics training using the Galaxy
          service? We provide free infrastructure for hosting Galaxy training
          events, so your participants experience the fastest possible job times.
          Don't let a job queue ruin your workshop!
        </p>
      </div>

      <div class="col">
        <p class="text-center">
          <a class="ga-btn" href="https://usegalaxy.org.au/tiaas" target="_blank">
            Learn more
          </a>
          <br>
          <a class="ga-btn" href="https://usegalaxy.org.au/tiaas/new" target="_blank">
            Enquire now
          </a>
        </p>
      </div>
    </div>
  </section>

  <section id="data-policy">
    <h4 class="header"> Our data policy </h4>

    <div class="row">
      <div class="col">
        <p>
          Your data limits on Galaxy Australia depend on how you register with
          the service. We provide greater privileges to verified
          <a href="/institutions">Australian Researchers</a>.
        </p>
      </div>

      <div class="col">
        <p class="text-center">
          <a class="ga-btn" href="/about#feature-catalogue">
            Your data limits
          </a>
          <br>
          <a class="ga-btn" href="/about#data-privacy">
            Data privacy policy
          </a>
        </p>
      </div>
    </div>
  </section>

</main>

{% endblock %}


{% block script %}

<script src="{% static 'home/js/notices.js' %}"></script>

<script type="text/javascript">
  const IFRAME_COUNT = 5;
  let loaded = [];

  const notifyLoaded = (id) => {
    loaded.push(id);
    if (loaded.length === IFRAME_COUNT) {
      $('#stats-panel img.loading').hide();
      $('#stats-panel iframe').css('opacity', '1');
    }
  }
</script>

{% endblock %}


{% block onload %}

  // Ensure that notice links open in new tab if external
  $('.notice a').each( (i, item) => {
    if (!item.href.includes("{{ HOSTNAME }}")) {
      item.target = '_blank';
    }
  });

  // Rotate low-priority notices
  notices.length > 1 && setTimeout(fadeAnimateNotices, PAUSE_MS);

  {% endblock %}
