{% extends 'home/header.html' %}

{% load static %}
{% load markdown %}

{% block head %}
{% endblock %}


{% block content %}
<main>
  <div class="d-flex justify-content-center">
    <a class="ga-btn" href="/">Home</a>
  </div>

  <br><br>

  <h3>{{ notice.title }}</h3>

  <p class="lead">{{ notice.short_description|safe }}</p>

  <hr>

  <p>
    {{ notice.body|markdown }}
  </p>

</main>
{% endblock %}


{% block script %}
{% endblock %}


{% block onload %}
// Ensure that notice links open in new tab if external
$('a').each( (i, item) => {
  if (!item.href.includes("{{ HOSTNAME }}")) {
    console.log(`Setting _blank on href ${item.href}`)
    item.target = '_blank';
  }
});
{% endblock %}
