{% extends 'home/header.html' %}

{% load static %}


{% block head %}
{% endblock %}


{% block content %}
<main>
  <div class="container">
    <h1> Support </h1>

    <hr>

    <h3> Getting help </h3>
    <p>
      For general questions and support using Galaxy Australia, email
      <a href="mailto:help@genome.edu.au">help@genome.edu.au</a>.
    </p>

    <h3> Galaxy help forum </h3>
    <p>
      Visit the
      <a href="https://help.galaxyproject.org/">
        Galaxy Community Help forum
      </a>
    </p>

    <h3> Training materials </h3>
    <p>
      Galaxy training material can be found
      <a href="https://training.galaxyproject.org/">here.</a>
    </p>

  </div>
</main>
{% endblock %}


{% block script %}
{% endblock %}


{% block onload %}
{% endblock %}
