<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ resource_name }} Access Request</title>
  </head>
  <body>

  {% if exception %}
  <h3>Error actioning {{ resource_name }} access request - Galaxy Australia</h3>
  <em style="font-size: 16pt; color: firebrick;">
    This request could not be actioned by Galaxy Media Site - please follow up
    with this request manually.
  </em>
  <p>
    Exception: <br>
    <code>
      {{ exception }}
    </code>
  </p>
  {% else %}
  <h3>New {{ resource_name }} access request submitted - Galaxy Australia</h3>
  <em style="font-size: 16pt; color: forestgreen;">
    This request has been actioned by Galaxy Media Site - no action is necessary
    but this request should be kept for reporting purposes.
  </em>
  {% endif %}

  <table style="width: 100%; border-collapse: collapse; table-layout: fixed; margin: 24px auto; text-align: center;">
    <tbody>

      {% for name, field in data.items %}
      <tr>
        <th style="padding: 10px; border: 1px solid grey; font-weight: bold;"> {{ field.label }} </th>
        <td style="padding: 10px; border: 1px solid grey;">
          {% if field.value %}
          {{ field.value }}
          {% else %}
          None
          {% endif %}
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
  </body>
</html>
