code {
  padding: .15rem .35rem;
  margin: 0 .25rem;
  color: var(--bs-gray-800);
  background-color: var(--bs-gray-300);
  border-radius: 3px;
}
#header-logo {
  width: 45vw;
  max-width: 400px;
}
.header-genome {
  font-size: 4rem;
  font-family: 'Exo 2', sans-serif;
}
#floating-info-button {
  position: fixed;
  top: 8rem;
  right: 2vw;
  cursor: pointer;
}
#floating-info-button button {
  color: var(--bs-primary);
  line-height: 0;
}
#floating-info-button button
.material-icons {
  font-size: 2.5rem;
}
#floating-info-button .btn:focus {
  box-shadow: none;
}
#workflow-table {
  max-height: 400px;
  overflow-y: auto;
}
#workflow-table td {
  vertical-align: middle;
}
#biocommons-services .logo {
  height: 80px;
  width: auto;
  padding-bottom: 1rem;
}
.table-inputs td {
  padding: .2rem .5rem;
}

/* BS override */
.nav-link {
  color: var(--color);
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: var(--color);
}
.accordion-button.static::after {
  content: none;
}
.accordion-button.static {
  cursor: default;
}
.accordion-button.static:focus {
  box-shadow: none;
}
