code {
  padding: .15rem .35rem;
  margin: 0 .25rem;
  color: var(--bs-gray-800);
  background-color: var(--bs-gray-300);
  border-radius: 3px;
}
#workflow-table {
  max-height: 400px;
  overflow-y: auto;
}
#workflow-table td {
  vertical-align: middle;
}
#biocommons-services .logo {
  height: 80px;
  width: auto;
  padding-bottom: 1rem;