# This file hold a list of unsubscribed email hashes that is automatically
# populated by the media site through 'unsubscribe' email links.
# Lines beginning with '#' will be ignored.

# This one is for testing (chyde1@usc.edu.au):
# e2f8c38ddb3ebaf4ace726972bf3826f

# All below hashes are real and should not be touched:
# -----------------------------------------------------------------------------
