# Server config for {{ HOSTNAME }} (Galaxy content site)

server {
    # redirect www to non-www
    server_name www.{{ HOSTNAME }};
    return 301 $scheme://{{ HOSTNAME }}$request_uri;
}


server {

    listen 80;
    server_name  {{ HOSTNAME }};
    access_log   /var/log/nginx/webapp.access.log;
    error_log    /var/log/nginx/webapp.error.log;

    if ( $host !~* ^({{ HOSTNAME }})$ ) {
        # Reject requests with incorrect host header
        return 444;
    }

    location = /biconcave {
        return  404;
    }

    location = /favicon.ico {
        alias  /srv/sites/webapp/webapp/webapp/static/favicon/favicon.ico;
    }

    location /static {
        root /srv/sites/webapp/webapp/webapp;
    }

    location /media {
        root /srv/sites/webapp/webapp/webapp;
    }

    location  / {
        proxy_pass            http://unix:/run/webapp.sock;
        proxy_redirect        off;
        proxy_set_header      Host                 $host;
        proxy_set_header      X-Real-IP            $remote_addr;
        proxy_set_header      X-Forwarded-For      $proxy_add_x_forwarded_for;
        proxy_read_timeout    600;  # seconds
        client_max_body_size  1000m;
    }

}
