# Set up webapp and restart web services

set -e

source {{ venv_root }}/bin/activate
cd {{ project_root }}/webapp

# Migrate database
export DJANGO_SETTINGS_MODULE=webapp.settings.prod
python manage.py migrate

# Collect static files for Nginx
python manage.py collectstatic --noinput

# Restart services
sudo systemctl daemon-reload
sudo systemctl enable webapp.service
sudo systemctl enable webapp.socket
sudo service webapp restart
