#!/usr/bin/env bash

# Update Galaxy Media Site

set -e

# Make sure this isn't being run as root
if [[ $EUID = 0 ]]; then
    echo "Don't run this as root - ubuntu is fine!"
    exit 0
fi

# Source virtual environment and git pull
cd galaxy-content-site
source '{{ venv_root }}/bin/activate'
git pull
cd webapp

# Collect any new static files for Nginx if neccessary
python manage.py collectstatic --noinput

# Migrate the database (if necessary)
python manage.py migrate

# Update file ownership to allow www-data to write logs/media
sudo chown -R www-data:www-data webapp/logs
sudo chown -R www-data:www-data webapp/media

# Restart the GMS web service
sudo service webapp restart

echo ""
echo "~~~ Restarted Galaxy Media Site ~~~"
echo ""
