[Unit]
Description=Gunicorn for Galaxy Media Site
Requires=webapp.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User = ubuntu
Group = www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/srv/sites/webapp
Environment="PATH={{ PWD }}/.venv/bin:$PATH"
ExecStart={{ PWD }}/.venv/bin/gunicorn --pid /run/gunicorn/pid   \
          --bind unix:/run/webapp.sock       \
          -c /srv/sites/webapp/server/gunicorn.py webapp.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
