[Unit]
Description=Gunicorn for Galaxy content site
Requires=ga-site.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User = dev
Group = www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/srv/sites/ga-site/webapp
Environment="PATH=/home/dev/miniconda/envs/ga-site/bin/"
ExecStart=/home/miniconda/envs/ga-site/bin/gunicorn --pid /run/gunicorn/pid   \
          --bind unix:/run/ga-site.sock \
          -c /srv/sites/ga-site/server/gunicorn.py ga-site.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
