#header-logo {
  width: unset;
}
.export-info-hover {
  position: relative;
}
.export-info-hover:hover {
  box-shadow: 0 0 2px 0 #000;
  background-color: #eee;
}
.export-info-button {
  font-size: 1rem;
  font-weight: normal;
  font-family: var(--bs-body-font-family);
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  margin: 0;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin: 10px 0;
  cursor: pointer;
  display: none;
  position: absolute;
  top: -43px;
  right: -2px;
}
.export-info-hover:hover .export-info-button{
  display: block;
}
li {
  margin-bottom: .5rem;
}