h3 {
  margin-top: 3rem;
}
h5 {
  color: #888;
  margin-top: 1.5rem;
}
hr {
  margin: 2rem 0;
}
main {
  margin-bottom: 10rem;
}
section {
  margin-top: 6rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #aaa;
}
section:last-child {
  border-bottom: none;
}
.textbox {
  margin: 4rem;
}

/* Lists */
ol.nested > li {
  margin-top: 2rem;
}
ol.nested ol > li {
  list-style-type: lower-alpha;
}
ol.nested ol ol > li {
  list-style-type: lower-roman;
}

/* Responsive */
@media (max-width: 1200px) {
  .textbox {
    margin: 2rem;
  }
}
@media (max-width: 880px) {
  .textbox {
    margin: 1rem;
  }
}
