#header-logo {
  width: 50vw;
  max-width: 450px;
  height: auto;
}

/* Alert bar */
#notice-bar {
  text-align: center;
  width: calc(100% + 4rem);
  margin: 0 -2rem;
  position: relative;
}
.notice-control {
  color: var(--color);
  background: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  width: 2rem;
  height: 2rem;
  text-align: center;
  position: absolute;
  top: calc(8px - 0.1rem);
  font-size: 2rem;
  cursor: pointer;
  transition-duration: .25s;
  z-index: 100;
  line-height: 0.85;
}
.notice-control:hover {
  background-color: rgba(0,0,0,0.1);
}
#notice-left {
  left: 2rem;
}
#notice-right {
  right: 2rem;
}
.notice {
  margin: 0;
  padding: .5rem;
  width: 100%;
  white-space: nowrap;
}
.notice.clickable {
  cursor: pointer;
}
.notice.clickable:hover .body {
  text-decoration: underline;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.notice .body {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5rem;
  width: 100%;
}
#stats-panel {
  position: relative;
  padding-top: 1rem;
  background-color: #181b1f;
  border: 1px solid #181b1f;
  border-radius: .5rem;
  margin-bottom: 0;
}
#stats-panel iframe {
  /* Show only when loaded */
  opacity: 0;
  overflow: hidden;
  transition-duration: 1.5s;
}
#iframe-chart {
  width: 100%;
  height: 200px;
}
.counters iframe {
  width: 95%;
  height: 110px;
}
#stats-panel img.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: auto;
  transform: translate(-50%, -50%);
}
#news-events {
  font-size: 0.8rem;
  margin-top: 0;
}
#news-events > div {
  padding: 2rem .5rem;
}
#news-events span.material-icons {
  position: relative;
  bottom: -0.2rem;
  padding-right: .5rem;
}
#news-events article {
  border: 1px solid var(--color);
  border-left: .5rem solid var(--color);
  margin: 0;
  padding: .5rem 1rem;
  cursor: pointer;
  transition-duration: .25s;
}
#news-events article:hover {
  color: white;
  background-color: var(--color);
}
#news-events article p {
  margin: 0;
}
#tool-updates .tool-update-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
}
#tool-updates .head {
  color: white;
  text-align: center;
  background-color: var(--color);
  border: 1px solid var(--border);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: .5rem 1rem;
}
#tool-updates .item {
  padding: .5rem 1rem;
  justify-content: center;
  text-align: center;
  display: flex;
  align-content: center;
  flex: 1;
  border: 1px solid var(--border);
  background-color: var(--tile-bg);
  cursor: pointer;
  transition-duration: 0.25s;
}
#tool-updates .item span {
  align-self: center;
}
#tool-updates .item:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
#tool-updates .item:hover {
  background-color: var(--tile-bg-hover);
}
h1 span.material-icons {
  font-size: 100%;
}

/* Responsive */
@media (max-width: 992px) {
  section#tiias,
  section#data-policy {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #tool-updates {
    font-size: 80%;
  }
  #tool-updates .item {
    padding: .25rem;
  }
}
@media (max-width: 720px) {
  #stats-panel iframe {
    transform: scale(0.75);
    transform-origin: 0 0;
  }
  #iframe-chart {
    width: 133%;
    height: 225px;
    margin-bottom: -40px;
  }
  .counters {
    --bs-gutter-x: 0;
  }
  .counters iframe {
    width: 126%;
    height: 100px;
  }
  .counters .col {
    padding: 0 5px;
  }
  section#tiias,
  section#data-policy {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
