main {
  margin-bottom: 12rem;
}
.main,
.tool-yes,
.toolshed-yes,
.data-yes,
.show-other {
  display: none;
}
.show-other {
  margin: 1rem;
}
.border {
  border: 1px solid var(--border);
  border-radius: 10px;
}
#toolshedUrlHelp img {
  width: auto;
  max-height: 500px;
}
ul.errorlist {
  margin: .5rem 0;
  padding: .25rem .5rem;
  color: var(--error);
  list-style-type: none;
  border: 1px solid var(--error);
  border-radius: .5rem;
}
[class^="col"] {
  padding-bottom: 1rem;
}
.blockquote {
  opacity: 0.7;
  font-style: italic;
  margin: 1rem 0;
  padding: 1rem;
  border-left: 5px solid var(--border);
}
