hr {
  margin: 5rem 0;
}
.m-10 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.mt-10 {
  margin-top: 5rem;
}
.mb-10 {
  margin-bottom: 5rem;
}
.request-menu-cards {
  margin: 3rem 0;
  justify-content: center;
}
.request-menu-cards .card {
  text-align: center;
  padding: 25px;
  border: none;
  border-right:
    1px solid var(--border);
  max-width: 30%;
}
.request-menu-cards .card-body,
.request-menu-cards .card-footer {
  border: none;
  background: none;
}
.request-menu-cards .card:last-child {
  border: none;
}
.request-menu-cards
span.material-icons {
  font-size: 4rem;
}
.form-check-label {
  margin-left: 1rem;
}
.g-recaptcha {
  display: flex;
  justify-content: center;
}

/* Responsive */
@media (max-width: 1200px) {
  main.container {
    max-width: 95vw;
  }
  .request-menu-cards .card {
    padding: .5rem;
  }
  .request-menu-cards .card-body {
    font-size: 0.8rem;
  }
}
@media (max-width: 880px) {
  main.container {
    max-width: 95vw;
  }
  .request-menu-cards .card-footer {
    font-size: 0.8rem;
    padding: 0;
  }
}
