{% extends 'home/header.html' %}

{% load static %}


{% block head %}
{% endblock %}


{% block content %}
<main class="container mt-4">

  <div class="mb-10">
    <h2> Galaxy Australia FGENESH++ Access Request </h2>
    <small>
      <a href="/request/access">
        <span class="material-icons">arrow_back</span>
        Back to tool access menu
      </a>
    </small>
  </div>

  <section class="my-5">
    <p class="lead">
      FGENESH++ is now open to all users on Galaxy Australia, without the need to request access. Please search the toolbox to find and use this tool at any time.
    </p>
  </section>

</main>
{% endblock %}


{% block onload %}
{% endblock %}
