{% load static %}

<footer class="page-footer">
  <div class="container logo">
    <div class="text-center">
      <a href="https://www.melbournebioinformatics.org.au/" target="_blank">
        <img src="{% static 'logos/melbourne-bioinformatics.png' %}" />
      </a>

      <a href="https://ardc.edu.au/" target="_blank">
        <img src="{% static 'logos/ardc.png' %}" />
      </a>

      <a href="https://bioplatforms.com/" target="_blank">
        <img src="{% static 'logos/bpa.png' %}" />
      </a>

      <a href="https://www.biocommons.org.au/" target="_blank">
        <img src="{% static 'logos/australian-biocommons.png' %}" />
      </a>

      <a href="https://www.qcif.edu.au/" target="_blank">
        <img src="{% static 'logos/qcif.jpg' %}" />
      </a>

      <a href="https://www.dese.gov.au/ncris" target="_blank">
        <img src="{% static 'logos/ncris.svg' %}" />
      </a>

      <a href="https://rcc.uq.edu.au/" target="_blank">
        <img src="{% static 'logos/uq-2.png' %}" />
      </a>
    </div>
  </div>


  <p class="text-center">
    <small>
      The content of this website is licensed under a Creative Commmons Attribute 3.0 Australian License.
      Please review the Galaxy Australia
      <a href="">Terms of Use and Policies.</a>
    </small>
  </p>

  <div class="contact-info">
    <div>
      <p>
        <i class="fas fa-envelope"></i>
        <a href="mailto:help@genome.edu.au">help@genome.edu.au</a>
      </p>
    </div>

    <div>
      <p>
        <i class="fab fa-github"></i>
        <a href="https://github.com/usegalaxy-au" target="_blank">usegalaxy-au</a>
      </p>
    </div>

    <div>
      <p>
        <i class="fab fa-twitter"></i>
        <a href="https://twitter.com/galaxyaustradiva" target="_blank">@galaxyaustralia</a>
      </p>
    </div>
  </div>

</footer>
