{% load static %}

<footer class="page-footer">
  <div class="container logo">
    <div class="text-center">
      <a href="https://www.biocommons.org.au" target="_blank">
        <img src="{% static 'logos/footer/au-biocommons.png' %}" />
      </a>

      <a href="https://www.qcif.edu.au" target="_blank">
        <img src="{% static 'logos/footer/qcif.png' %}" />
      </a>

      <a href="https://www.melbournebioinformatics.org.au" target="_blank">
        <img src="{% static 'logos/footer/melbbio.png' %}" />
      </a>

      <a href="https://www.aarnet.edu.au" target="_blank">
        <img src="{% static 'logos/footer/aarnet.png' %}" />
      </a>
    </div>

    <div class="text-center second">
      <a href="https://www.uq.edu.au" target="_blank">
        <img src="{% static 'logos/footer/uq-grayscale.png' %}" />
      </a>

      <a href="https://ardc.edu.au" target="_blank">
        <img src="{% static 'logos/footer/ardc-grayscale.png' %}" />
      </a>

      <a href="https://www.unimelb.edu.au" target="_blank">
        <img src="{% static 'logos/footer/uni-melbourne.png' %}" />
      </a>

      <a href="https://bioplatforms.com" target="_blank">
        <img src="{% static 'logos/footer/bpa-grayscale.png' %}" />
      </a>

      <a href="https://nci.org.au" target="_blank">
        <img src="{% static 'logos/footer/nci-grayscale.png' %}" />
      </a>

      <a href="https://pawsey.org.au" target="_blank">
        <img src="{% static 'logos/footer/pawsey-grayscale.png' %}" />
      </a>

      <a href="https://www.dese.gov.au/ncris" target="_blank">
        <img src="{% static 'logos/footer/ncris-grayscale.png' %}" />
      </a>

      <a href="https://www.qld.gov.au" target="_blank">
        <img src="{% static 'logos/footer/qld-gov.png' %}" />
      </a>
    </div>
  </div>


  <div class="container links">
    <hr>
    <div class="row justify-content-center">
      <img
        src="{% static 'logos/footer/galaxy-black.png' %}"
        alt="Galaxy logo black">

      <div class="col-auto">
        <h6>SITE LINKS</h6>
        <div class="row">
          <div class="col">
            <small>
              <a href="#">Support</a> <br>
              <a href="#">Feature catalogue</a> <br>
              <a href="#">Terms and conditions</a>
            </small>
          </div>

          <div class="col">
            <small>
              <a href="#">Privacy and data collection</a> <br>
              <a href="#">Acceptable use</a> <br>
              <a href="#">Service labels</a>
            </small>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <h6>ACKNOWLEDGEMENTS</h6>
        <p class="tight">
          <small>
            We acknowledge and pay respect to the Elders and Traditional Owners
            of the lands on which our partner organisations stand.
          </small>
        </p>
      </div>

      <div class="col-auto">
        <h6>CONNECT</h6>
        <p>
          <a href="mailto:help@genome.edu.au">
            <i class="fas fa-envelope"></i>
          </a>

          <a href="https://github.com/usegalaxy-au" target="_blank">
            <i class="fab fa-github"></i>
          </a>

          <a href="https://twitter.com/galaxyaustralia" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
