<section class="row justify-content-between text-center" id="header-cards">
  <div class="tile">
    <div class="card-body">
      <h1 class="card-title"><span class="material-icons">fingerprint</span></h1>
      <p>
        Alphafold 2.0 on Galaxy Australia
      </p>
      <a class="ga-btn" href="/request/access/alphafold">
        Apply now
      </a>
    </div>
    <!-- <div class="card-body">
      <h1 class="card-title"><span class="material-icons">book</span></h1>
      <p>
        200+
        <br>
        Galaxy tutorials
        <br>
        Available now
      </p>
      <a class="ga-btn" href="https://training.galaxyproject.org/" target="_blank">
        Start learning
        {% include 'home/snippets/icons/new-tab.html' %}
      </a>
    </div> -->
  </div>

  <div class="tile">
    <div class="card-body">
      <h1 class="card-title"><span class="material-icons">construction</span></h1>
      <p>
        9000+
        <br>
        Tools &amp; Datasets
        <br>
        Ready to install
      </p>
      <a class="ga-btn" href="/request">
        Request now
      </a>
    </div>
  </div>

  <div class="tile">
    <div class="card-body">
      <h1 class="card-title"><span class="material-icons">save</span></h1>
      <p class="m-0">
        Additional storage
        <br>
        Available on request
      </p>
      <a class="ga-btn" href="/request">
        Request now
      </a>
    </div>
  </div>
</section>