<section class="row justify-content-between text-center" id="header-cards">
  <div class="tile">
    <div class="card-body">
      <h1 class="card-title"><span class="material-icons">key</span></h1>
      <p>
        Request access to specialised tools AlphaFold 2, FGENESH++ and Cell Ranger
      </p>
      <a class="ga-btn" href="/request/access">
        Request now
      </a>
    </div>
  </div>

  <div class="tile">
    <div class="card-body">
      <h1 class="card-title"><span class="material-icons">construction</span></h1>
      <p>
        9000+
        <br>
        Tools &amp; Datasets
        <br>
        Ready to install
      </p>
      <a class="ga-btn" href="/request">
        Request now
      </a>
    </div>
  </div>

  <div class="tile">
    <div class="card-body">
      <h1 class="card-title"><span class="material-icons">save</span></h1>
      <p class="m-0">
        Additional storage
        <br>
        Available on request
      </p>
      <a class="ga-btn" href="/request">
        Request now
      </a>
    </div>
  </div>
</section>
