<nav
  {% if notices.rotating %}
  class="navbar navbar-expand embedded"
  {% else %}
  class="navbar fixed-top navbar-expand embedded"
  {% endif %}
>
  <a class="navbar-brand" href="/">
    <span class="australia">Galaxy {{ GALAXY_SITE_NAME }}</span> {{ GALAXY_SITE_SUFFIX }}
  </a>

  <div class="collapse navbar-collapse mr-auto" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a {% if request.path == '/' %}
        class="nav-link active"
        {% else %}
        class="nav-link"
        {% endif %}
        href="/"
      >
        Home
      </a>
      <a {% if request.path|slice:":5" == '/news' %}
        class="nav-link active"
        {% else %}
        class="nav-link"
        {% endif %}
        href="/news"
      >
        News
      </a>
      <a {% if request.path|slice:":7" == '/people' %}
        class="nav-link active"
        {% else %}
        class="nav-link"
        {% endif %}
        href="/people"
      >
        People
      </a>
      <a {% if request.path|slice:":6" == '/about' %}
        class="nav-link active"
        {% else %}
        class="nav-link"
        {% endif %}
        href="/about"
      >
        About
      </a>
      <a {% if request.path|slice:":7" == '/acknowledge' %}
        class="nav-link active"
        {% else %}
        class="nav-link"
        {% endif %}
        href="/acknowledge"
      >
        Acknowledge
      </a>
      <a {% if request.path|slice:":8" == '/request' %}
          class="nav-link active"
          {% else %}
          class="nav-link"
          {% endif %}
          href="/request"
      >Support</a>
      <a {% if request.path|slice:":10" == '/docs.html' %}
          class="nav-link active"
          {% else %}
          class="nav-link"
          {% endif %}
          href="/docs.html"
      >Docs</a>
      {% if user.is_staff %}
      <a class="nav-link" href="/admin" target="_blank">Admin</a>
      {% endif %}
    </div>
  </div>

  {% if not user.is_authenticated %}
  <div class="navbar-nav login">
    <a
      href="/admin"
      data-bs-toggle="tooltip"
      data-bs-placement="bottom"
      title="Admin login"
      id="admin-login"
    >Login</a>
  </div>
  {% else %}
  <div class="navbar-nav">
    <a href="/admin/logout">Log out</a>
  </div>
  {% endif %}
</nav>
{% if notices.rotating %}
</div>
{% endif %}
