{% extends 'home/header.html' %}

{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'people/css/people.css' %}">
{% endblock %}


{% block content %}

<main class="wide">
  <div class="container">
    <h1>The Galaxy Australia Team</h1>

    <hr>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-4 mb-5">
      {% for p in people %}
      <div class="col">
        {% include 'people/snippets/person-card.html' %}
      </div>
      {% endfor %}
    </div>

    {% if simon %}
    <hr class="my-5">

    <h2 class="mb-2">In memoriam</h2>

    <div class="row my-5 align-items-center">
      <div class="col-sm-6 px-5">
        <p>
          Simon Gladman was one of the founding members of Galaxy Australia, and lead the technical design and development of the service. He unfortunately passed away in late 2022, leaving a gap in the team that may never be fully repaired. Simon was a brilliant engineer, and his passion for Galaxy, board games and D&D will be remembered by many in the global Galaxy community. Galaxy Australia is his legacy, and we are proud to continue his work.
        </p>
      </div>
      <div class="col-sm-6">
        {% include 'people/snippets/person-card.html' with p=simon %}
      </div>
    </div>
    {% endif %}

    <hr class="my-5">

    <h2 class="mb-2">Alumni</h2>

    <p class="mb-5">
      Past members of the Galaxy Australia team who helped bring us to
      where we are today.
    </p>


    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-4">
      {% for p in alumni %}
      <div class="col">
        {% include 'people/snippets/person-card.html' %}
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="my-5">
    <p>
      Galaxy Australia has had many contributors since its inception. If you know someone that should be mentioned on this page, please let us know.
    </p>
  </div>
</main>

{% endblock %}


{% block script %}
{% endblock %}


{% block onload %}
{% endblock %}
