{% extends 'home/header.html' %}

{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'people/css/people.css' %}">
{% endblock %}


{% block content %}

<main class="wide">
  <div class="container">
    <h1>The Galaxy Australia Team</h1>

    <hr>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-4 mb-5">
      {% for p in people %}
      <div class="col">
        {% include 'people/snippets/person-card.html' %}
      </div>
      {% endfor %}
    </div>

    <hr>

    <h2 class="mb-2">Galaxy Australia Alumni</h2>

    <p class="mb-5">
      Past members of the Galaxy Australia team who helped bring us to
      where we are today.
    </p>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-4">
      {% for p in alumni %}
      <div class="col">
        {% include 'people/snippets/person-card.html' %}
      </div>
      {% endfor %}
    </div>
  </div>
</main>

{% endblock %}


{% block script %}
{% endblock %}


{% block onload %}
{% endblock %}
