/* Actually applies to news and events */
th, .table th {
  color: white;
  background-color: var(--color);
  vertical-align: middle;
}
td, .table td {
  vertical-align: top;
}
span.tag {
  padding: .25rem .5rem;
  border-radius: .5rem;
}
.supporter img {
  width: auto;
  height: 50px;
  margin: 1rem 3rem;
}
.markdown img {
  height: auto;
  max-width: 300px;
}
