# Set up gms and restart web services

set -e

source {{ venv_root }}/bin/activate
cd {{ django_root }}

# Set Django settings
export DJANGO_SETTINGS_MODULE=webapp.settings.prod

# Collect static files for Nginx
python manage.py collectstatic --noinput

{% if not skip_database_migration %}
# Migrate database
python manage.py migrate
{% endif %}

# Restart services
sudo systemctl daemon-reload
sudo systemctl enable gms.service
sudo systemctl enable gms.socket
sudo service gms restart
