{% extends 'home/header.html' %}

{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'home/css/requests.css' %}">
{% endblock %}


{% block content %}

<main class="container">
  <h1> Galaxy Australia Support </h1>

  <div class="request-buttons">
    <div class="col">
      <h1><span class="material-icons">help</span></h1>
      <p class="text-large">
        Need some assistance? The Galaxy Australia team are here to help.
      </p>
      <br>
      <a class="ga-btn" href="/request/support">
        Request support
      </a>
    </div>

    <div class="col">
      <h1><span class="material-icons">construction</span></h1>
      <p class="text-large">
        Thousands of tools are waiting to be installed from the
        <a href="https://toolshed.g2.bx.psu.edu/" target="_blank">Galaxy Toolshed</a>,
        and our team are developing even more.
      </p>
      <br>
      <a class="ga-btn" href="/request/tool">
        Request new tool
      </a>
    </div>

    <div class="col">
      <h1><span class="material-icons">save</span></h1>
      <p class="font-lg">
        Need more data storage on Galaxy Australia? Just ask!
      </p>
      <br>
      <a class="ga-btn" href="/request/quota">
        Request data quota
      </a>
    </div>
  </div>
</main>

{% endblock %}


{% block script %}
{% endblock %}


{% block onload %}
{% endblock %}
