{% extends 'home/header.html' %}

{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'home/css/requests.css' %}">
<link rel="stylesheet" href="{% static 'home/css/request-form.css' %}">
{% endblock %}


{% block content %}
<main class="container">

  <div class="mb-10">
    <h2>Galaxy Australia Quota Increase Application</h2>
    <small>
      <a href="/request">
        <span class="material-icons">arrow_back</span>
        Back to support menu
      </a>
    </small>
  </div>

  <div class="my-5 py-5">
    <p class="lead">
      Please use this form to request an increase in your data storage quota on Galaxy Australia.
    </p>

    <small>
      Read about our
      <a href="/about#feature-catalog">data storage limits</a>
      &amp;
      <a href="/about#data-privacy">data privacy policy</a>.
    </small>
  </div>


  <form method="post">

    {% csrf_token %}

    <div class="row mb-10">
      <div class="col-md-6">
        <label for="nameInput" class="form-label">Full name</label>
        <input class="form-control" id="nameInput" type="text" name="name"
        value="{{form.name.value|default_if_none:''}}" required>
        {{ form.name.errors }}
      </div>

      <div class="col-md-6">
        <label for="emailInput" class="form-label">Email</label>
        <input class="form-control" id="emailInput" type="text" name="email"
        value="{{form.email.value|default_if_none:''}}"
        aria-describedby="emailHelp" required
        >
        <div id="emailHelp" class="form-text">
          We may contact you to request further detail.
        </div>
        {{ form.email.errors }}
      </div>
    </div>

    <div class="row mb-10">
      <div class="col-md-6">
        <label for="dateInput" class="form-label">
          When do you plan to start your data analysis?
        </label>
        <input
          class="form-control" id="dateInput" type="date" name="start_date"
          value="{{form.start_date.value|default_if_none:''}}" required
        >
        {{ form.start_date.errors }}
      </div>

      <div class="col-md-6">
        <label for="durationInput" class="form-label">
          For how long will you need your extended data quota?
        </label>
        <div class="input-group">
          <input
          class="form-control"  id="durationInput" type="number" step="1"
          name="duration_months" value="{{form.duration_months.value|default_if_none:''}}"
          required
          >
          <div class="input-group-append">
            <span class="input-group-text" id="duration-input-units">
              months
            </span>
          </div>
        </div>
        {{ form.duration_months.errors }}
      </div>
    </div>

    <div class="row mb-10">
      <div class="col-md-6">
        <p>
          What is the total storage space you require?
        </p>
        <div class="form-check">
          <input class="form-check-input"  id="diskInput1" type="radio" name="disk_tb" value="1"
            {% if form.disk_tb.value == '1' %}checked{% endif%}
          >
          <label class="form-check-label" for="diskInput1">1TB</label>
        </div>

        <div class="form-check">
          <input class="form-check-input"  id="diskInput2" type="radio" name="disk_tb" value="2"
            {% if form.disk_tb.value == '2' %}checked{% endif%}
          >
          <label class="form-check-label" for="diskInput2">2TB</label>
        </div>

        <div class="form-check">
          <input class="form-check-input"  id="diskInput3" type="radio" name="disk_tb" value=""
            {% if form.disk_tb.value == '' %}checked{% endif%}
          >
          <label class="form-check-label" for="diskInput3">More</label>
        </div>

        <div class="show-other">
          <div class="input-group">
            <input class="form-control" type="number" name="disk_tb_other"
            value="{{ form.disk_tb_other.value|default_if_none:'' }}"
            >
            <div class="input-group-append">
              <span class="input-group-text" id="disk-gb-units">
                TB
              </span>
            </div>
          </div>
        </div>


        <div id="diskHelp" class="form-text">
          If you are unsure, please leave this field blank.
        </div>
        {{ form.disk_tb.errors }}
      </div>
    </div>

    <div class="row mb-10">
      <div class="col">
        <label for="descriptionInput" class="form-label">
          Justification and comments
        </label>
        {{ form.description.errors }}
        <textarea class="form-control" id="descriptionInput"
          name="description" rows="4" required
        >{{form.description.value|default_if_none:''}}</textarea>
      </div>
      <div id="descriptionHelp" class="form-text">
        Please briefly justify your need for additional data storage.
      </div>
    </div>

    <div class="m-5 p-5">
      <hr>
      <h4>Agreement on the use of the Galaxy Australia Server</h4>

      <br>

      <p>
        Our service is free for you, but not free for us!
      </p>

      <p>
        If the Galaxy Australia service contributed towards a publication,
        please acknowledge our service. This greatly helps us to justify funding
        the service into the future. Thank you :-)
      </p>

      <p>
        If a member of the Galaxy Australia Team has contributed significantly
        to your analysis, you may also wish to consider including them as a
        co-author in your publication.
      </p>

      <br>

      <p class="lead"> Please confirm that you have read and accept the agreement </p>

      <div class="form-check">
        <input class="form-check-input"  id="acceptTerms" type="checkbox" name="accepted_terms" value="0" required>
        <label class="form-check-label" for="acceptTerms">
          I have read and accept the agreement
        </label>
      </div>

      <hr>

    </div>


    <div class="mx-5 px-5 text-center">
      <div class="mb-10">
        {{ form.captcha }}
        {{ form.captcha.errors }}
      </div>

      <p>A copy of your responses will be emailed to the address that you provided.</p>

      <button class="ga-btn" type="submit">Submit request</button>
    </div>
  </form>

</main>
{% endblock %}


{% block script %}
<script type="text/javascript">
  $('input[type="radio"]').click( e => {
    let other = $(`input[name="${e.target.name}_other"]`);

    // Special treatment for disk_gb input
    if (event.target.name === 'disk_tb') {
      other = other.closest('.show-other');
    }

    // If radio button has no value it must be an "other" option
    event.target.value === '' ? other.fadeIn(250) : other.fadeOut(250);
  });

  $('form').submit( (e) => {
    $('button[type="submit"]').prop('disabled', true);
    $('button[type="submit"]').html('<i class="fas fa-sync-alt fa-spin"></i>');
  });
</script>
{% endblock %}


{% block onload %}
  // Trigger selected "other" fields display
  $('input[type="radio"]').each( (i, item) => {
    item.checked && $(item).click()
  })

  // Scroll to errors if present
  if ($('.errorlist').length) {
    $('html, body').animate({
        scrollTop: $('.errorlist').offset().top - 100,
      }, 1000
    )
  }
{% endblock %}
