{% extends 'home/header.html' %}

{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'home/css/custom.css' %}">
{% endblock %}


{% block content %}
<main class="container-flex justify-content-center align-items-center my-5 py-5">
  <div class="text-center my-5">
    <h2> Thanks for your submission </h2>

    <p> We'll get back to you as soon as possible. </p>

    <div class="my-5">
      <a class="ga-btn" href="/"> Home </a>
    </div>
  </div>
</main>
{% endblock %}


{% block script %}
{% endblock %}


{% block onload %}
{% endblock %}
