{% extends 'home/header.html' %}

{% block head %}
{% endblock %}


{% block content %}
<main>

  <h1>Galaxy Lab build error</h1>
  
  {% if exc.title %}
  <p>{{ exc.title }}</p>
  {% endif %}

  {% if exc.url %}
  <p>
    Source URL: <a href="{{ exc.url }}" target="_blank">{{ exc.url }}</a>
  </p>
  {% endif %}
  
  <div>
    <p class="lead">Error message:</p>
    <pre style="border-radius: .5rem; background-color: #e8edf7; padding: 1rem;">{{ exc.message }}</pre>
  </div>

</main>
{% endblock %}


{% block script %}
{% endblock %}


{% block onload %}
{% endblock %}
