{% extends 'home/header.html' %}

{% load static %}
{% load markdown %}


{% block head %}
<link rel="stylesheet" href="{% static 'home/css/index.css' %}">
<link rel="stylesheet" href="{% static 'home/css/subdomains/genome.css' %}">
{% endblock %}


{% block content %}

<main>
  <section class="container-flex text-center my-3">
    <a href="https://usegalaxy.org.au">
      <img id="header-logo" src="{% static 'home/img/ga-logo.png' %}" alt="Galaxy Australia Logo">
    </a>
  </section>

  <section class="container-fluid my-5" id="tagline">

    {% include 'home/snippets/static-notices.html' %}

    <h1>
      Galaxy Australia - Genome
    </h1>

    <p>
      A community page for genome assembly and annotation.
      <ul>
        <li><a href="#">What is this page?</a></li>
        <li><a href="#">What is a community page and how can I use it?</a></li>
        <li><a href="#">What is Galaxy Australia?</a></li>
        <li><a href="/request/support">Galaxy Australia support</a></li>
      </ul>
    </p>
  </section>

  <section class="my-5">
    <h4 class="mb-3">Data import and preparation</h4>

    <ul class="nav nav-pills" id="dataTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="data-tools-tab" data-bs-toggle="tab" data-bs-target="#data-tools-panel" type="button" role="tab" aria-controls="home" aria-selected="true">Common tools</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="data-workflows-tab" data-bs-toggle="tab" data-bs-target="#data-workflows-panel" type="button" role="tab" aria-controls="profile" aria-selected="false">Workflows</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="data-help-tab" data-bs-toggle="tab" data-bs-target="#data-help-panel" type="button" role="tab" aria-controls="contact" aria-selected="false">Help</button>
      </li>
    </ul>

    <div class="tab-content" id="dataTabContent">
      <div class="tab-pane fade show active" id="data-tools-panel" role="tabpanel" aria-labelledby="data-tools-tab">
        {% include 'home/subdomains/genome/data-tools.html' %}
      </div>

      <div class="tab-pane fade" id="data-workflows-panel" role="tabpanel" aria-labelledby="data-workflows-tab">
        {% include 'home/subdomains/genome/data-workflows.html' %}
      </div>

      <div class="tab-pane fade" id="data-help-panel" role="tabpanel" aria-labelledby="data-help-tab">
        {% include 'home/subdomains/genome/data-help.html' %}
      </div>
    </div>
  </section>

  <section class="my-5">
    <h4 class="mb-3">Genome assembly</h4>

    <ul class="nav nav-pills" id="assemblyTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="assembly-tools-tab" data-bs-toggle="tab" data-bs-target="#assembly-tools-panel" type="button" role="tab" aria-controls="home" aria-selected="true">Common tools</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="assembly-workflows-tab" data-bs-toggle="tab" data-bs-target="#assembly-workflows-panel" type="button" role="tab" aria-controls="profile" aria-selected="false">Workflows</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="assembly-help-tab" data-bs-toggle="tab" data-bs-target="#assembly-help-panel" type="button" role="tab" aria-controls="contact" aria-selected="false">Help</button>
      </li>
    </ul>

    <div class="tab-content" id="assemblyTabContent">
      <div class="tab-pane fade show active" id="assembly-tools-panel" role="tabpanel" aria-labelledby="assembly-tools-tab">
        {% include 'home/subdomains/genome/assembly-tools.html' %}
      </div>

      <div class="tab-pane fade" id="assembly-workflows-panel" role="tabpanel" aria-labelledby="assembly-workflows-tab">
        {% include 'home/subdomains/genome/assembly-workflows.html' %}
      </div>

      <div class="tab-pane fade" id="assembly-help-panel" role="tabpanel" aria-labelledby="assembly-help-tab">
        {% include 'home/subdomains/genome/assembly-help.html' %}
      </div>
    </div>
  </section>

</main>

{% endblock %}


{% block script %}
{% endblock %}


{% block onload %}
  // Ensure that notice links open in new tab if external
  $('.notice a').each( (i, item) => {
    if (!item.href.includes("{{ HOSTNAME }}")) {
      item.target = '_blank';
    }
  });

  // TODO: Remove - development only (don't leave behind TBC text)
  $('p').filter( (i, el) => el.innerText.toLowerCase().includes('tbc') ).each(
    (i, item) => {
      item.innerHTML = item.innerHTML
        .replace('TBC', '<span class="text-danger fw-bold">TBC</span>')
        .replace('tbc', '<span class="text-danger fw-bold">TBC</span>');
      $(item).closest('.accordion-item').find('.accordion-button').addClass('bg-danger');
      const paneId = $(item).closest('.tab-pane')[0].id;
      $(`#${paneId.replace('-panel', '-tab')}`).addClass('bg-danger');
    }
  );
{% endblock %}
